streamlit==1.32.0
pandas
numpy
spacy==3.7.2
pymupdf
scikit-learn
docx2txt
matplotlib
google-generativeai
python-dotenv
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz